.tw-main-div {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  width: auto;
  padding: 1.5rem;
}
.centerContent {
  text-align: center;
  margin: auto;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
}

.twitter-component {
  width: auto;
  padding: 1.5rem;
}

.timeline-Header-title {
  font-size: 56px;
  font-weight: 100 !important;
}
@media (max-width: 768px) {
  .tw-main-div {
  margin:5px;
  margin-top: 4rem;
  width: auto;
  padding: 0.2rem;
}
.centerContent {
  padding: 0;
}

.twitter-component {
  width: auto;
  padding: 1.5rem;
}

.timeline-Header-title {
  font-size: 56px;
  font-weight: 100 !important;
}
}